body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p,
h3,
h2,
h4 {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
  /*background-color: grey;*/
}
@media screen and (max-width: 650px) {
  .grid-container {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
@media screen and (min-width: 650px) {
  .grid-container {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
}

.bookmark-web-snippet {
  width: 100%;
}
.grid-item {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  font-size: 0.8rem;
}
.grid-item span,
p {
  color: grey;
  word-wrap: break-word;
  text-align: start;
}
.grid-item h3 {
  color: black;
  font-size: 1rem;
  text-align: start;
}
.grid-item:hover {
  border: 1px solid lightgray;
}
.bookmark-icon {
  height: 1em;
}
.bookmark-tag {
  width: fit-content;
  padding: 1px;
  background-color: yellow;
  border-radius: 1px;
}
.container-wrapper {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}
.tag-button {
  height: 1.5rem;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 2px;
  /*background-color: darkgrey;*/
}
.tag-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.icon {
  transform: translateY(0.2em);
}
.main-header {
  margin: 0.8rem 0;
}
.url-container {
  text-align: start;
}
.grid-item a {
  width: 100%;
  display: inline-block;
}
input[type="text"],
input[type="password"] {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.5em;
}
.form-container {
  width: 20rem;
  margin: 2rem auto 0;
  border: 1px solid grey;
  padding: 5px;
}
.login-form {
  margin: 0 auto;
}
.center-container {
  text-align: center;
}
.submit-btn {
  width: 100%;
  padding: 2px;
}
.div-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  border: 1px solid grey;
}
